main{

    width: 940px;
    margin: 0px;
}

form{

    margin: 40px;
}

form label,legend{

    display: block;
    font-size: 20px;
    margin: 20px 0 10px ;
}

.input,textarea{
    display: block;

    padding: 10px 25px;
    
    margin: 0 0 10px;

    width: 50%;
}

#receber-novidades{

    margin-bottom: 20px;
}

#modo-de-contato label{

    margin-top: 5px;
}

.enviar{

    width: 40%;
    padding: 15px 0;

    background-color: orange;
    color: white;

    font-weight: bold;
    font-size: 18px;
    
    border: none;
    border-radius: 5px;

    transition: 1s all;/*Estamos aumentando o período de transição das animações de nosso botão enviar para 1 segundo, se não fizermos isso a transição ocorre de forma direta*/
}

.enviar:hover{

    background-color: darkorange;

    cursor: pointer;

    transform: scale(1.2); /*Estamos aumentando nosso botão em 20%*/

   /* transform: rotate(70deg) scale(1.2); neste exemplo estamos aumentando de proporção 20% de nosso botão e gazendo uma rotação de 70deg*/ 
}

table {

    margin: 20px 0 40px;
}

thead{

    background-color: #555555;

    color: white;

    font-weight: bold;
}

td,th{
    border: 1px solid black;
    
    padding: 8px 15px;

    text-align: center;
}

